<div class="c-content-inner">
    <div class="row">
        <div class="col-md-12">
            <p class="c-line-title">用户信息</p>
        </div>
    </div>
    <form [formGroup]="addForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label text-right">帐号：</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" formControlName="userName" placeholder="请输入用户名...">
                    </div>
                    <div class="c-validator-invalid" [hidden]="!(addForm.controls['userName'].errors && addForm.controls['userName'].dirty)">
                        用户名必填，1-15位！
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label text-right">密码：</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" formControlName="password" placeholder="请输入用户名...">
                    </div>
                    <div class="c-validator-invalid" [hidden]="!(addForm.controls['password'].errors && addForm.controls['password'].dirty)">
                            密码必填，6-30位！
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label text-right">姓名：</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="请输入姓名...">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label text-right">邮箱：</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="请输入邮箱...">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="form-group row">
        <div class="col-12">
            <button type="submit" class="btn c-not-shadow" [disabled]="!addForm.valid" (click)="login();">添 加</button>
        </div>
    </div>
</div>